/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Empty
-------------------------- */
/* Descriptions
-------------------------- */
/* Skeleton 
--------------------------*/
/* Svg
--------------- */
/* Result
-------------------------- */
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Empty
-------------------------- */
/* Descriptions
-------------------------- */
/* Skeleton 
--------------------------*/
/* Svg
--------------- */
/* Result
-------------------------- */
/* Break-point
--------------------------*/
.el-tag {
  background-color: #eaf4ff;
  border-color: #d6eaff;
  color: #3195ff;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #3195ff;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap; }
  .el-tag.is-hit {
    border-color: #3195ff; }
  .el-tag .el-tag__close {
    color: #3195ff; }
    .el-tag .el-tag__close:hover {
      color: #FFFFFF;
      background-color: #3195ff; }
  .el-tag.el-tag--info {
    background-color: whitesmoke;
    border-color: #ebebeb;
    color: #999999; }
    .el-tag.el-tag--info.is-hit {
      border-color: #999999; }
    .el-tag.el-tag--info .el-tag__close {
      color: #999999; }
      .el-tag.el-tag--info .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #999999; }
  .el-tag.el-tag--success {
    background-color: #ebfaf3;
    border-color: #d8f4e7;
    color: #3ac985; }
    .el-tag.el-tag--success.is-hit {
      border-color: #3ac985; }
    .el-tag.el-tag--success .el-tag__close {
      color: #3ac985; }
      .el-tag.el-tag--success .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #3ac985; }
  .el-tag.el-tag--warning {
    background-color: #fff6ec;
    border-color: #ffedd8;
    color: #ffa73d; }
    .el-tag.el-tag--warning.is-hit {
      border-color: #ffa73d; }
    .el-tag.el-tag--warning .el-tag__close {
      color: #ffa73d; }
      .el-tag.el-tag--warning .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #ffa73d; }
  .el-tag.el-tag--danger {
    background-color: #ffeaea;
    border-color: #ffd6d6;
    color: #ff3030; }
    .el-tag.el-tag--danger.is-hit {
      border-color: #ff3030; }
    .el-tag.el-tag--danger .el-tag__close {
      color: #ff3030; }
      .el-tag.el-tag--danger .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #ff3030; }
  .el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px; }
    .el-tag .el-icon-close::before {
      display: block; }
  .el-tag--dark {
    background-color: #3195ff;
    border-color: #3195ff;
    color: white; }
    .el-tag--dark.is-hit {
      border-color: #3195ff; }
    .el-tag--dark .el-tag__close {
      color: white; }
      .el-tag--dark .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #5aaaff; }
    .el-tag--dark.el-tag--info {
      background-color: #999999;
      border-color: #999999;
      color: white; }
      .el-tag--dark.el-tag--info.is-hit {
        border-color: #999999; }
      .el-tag--dark.el-tag--info .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #adadad; }
    .el-tag--dark.el-tag--success {
      background-color: #3ac985;
      border-color: #3ac985;
      color: white; }
      .el-tag--dark.el-tag--success.is-hit {
        border-color: #3ac985; }
      .el-tag--dark.el-tag--success .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #61d49d; }
    .el-tag--dark.el-tag--warning {
      background-color: #ffa73d;
      border-color: #ffa73d;
      color: white; }
      .el-tag--dark.el-tag--warning.is-hit {
        border-color: #ffa73d; }
      .el-tag--dark.el-tag--warning .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #ffb964; }
    .el-tag--dark.el-tag--danger {
      background-color: #ff3030;
      border-color: #ff3030;
      color: white; }
      .el-tag--dark.el-tag--danger.is-hit {
        border-color: #ff3030; }
      .el-tag--dark.el-tag--danger .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #ff5959; }
  .el-tag--plain {
    background-color: white;
    border-color: #add5ff;
    color: #3195ff; }
    .el-tag--plain.is-hit {
      border-color: #3195ff; }
    .el-tag--plain .el-tag__close {
      color: #3195ff; }
      .el-tag--plain .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #3195ff; }
    .el-tag--plain.el-tag--info {
      background-color: white;
      border-color: #d6d6d6;
      color: #999999; }
      .el-tag--plain.el-tag--info.is-hit {
        border-color: #999999; }
      .el-tag--plain.el-tag--info .el-tag__close {
        color: #999999; }
        .el-tag--plain.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #999999; }
    .el-tag--plain.el-tag--success {
      background-color: white;
      border-color: #b0e9ce;
      color: #3ac985; }
      .el-tag--plain.el-tag--success.is-hit {
        border-color: #3ac985; }
      .el-tag--plain.el-tag--success .el-tag__close {
        color: #3ac985; }
        .el-tag--plain.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #3ac985; }
    .el-tag--plain.el-tag--warning {
      background-color: white;
      border-color: #ffdcb1;
      color: #ffa73d; }
      .el-tag--plain.el-tag--warning.is-hit {
        border-color: #ffa73d; }
      .el-tag--plain.el-tag--warning .el-tag__close {
        color: #ffa73d; }
        .el-tag--plain.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #ffa73d; }
    .el-tag--plain.el-tag--danger {
      background-color: white;
      border-color: #ffacac;
      color: #ff3030; }
      .el-tag--plain.el-tag--danger.is-hit {
        border-color: #ff3030; }
      .el-tag--plain.el-tag--danger .el-tag__close {
        color: #ff3030; }
        .el-tag--plain.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #ff3030; }
  .el-tag--medium {
    height: 28px;
    line-height: 26px; }
    .el-tag--medium .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px; }
    .el-tag--small .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px; }
    .el-tag--mini .el-icon-close {
      margin-left: -3px;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
