/* slide */
.slide-enter-active {
    animation: slide-up 0.5s;
}

.slide-leave-active {
    animation: slide-down 0.5s;
}

/* slide-transform */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

/* fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.5s;
}

/* slideL */
.slideL-enter-active {
    animation: slide-come 0.5s;
}

.slideL-leave-active {
    animation: slide-out 0.5s;
}

/* slide-transform */
@keyframes slide-come {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.5s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
    width: calc(100% - 30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
    width: calc(100% - 30px);
}